<div class="container mx-auto py-10">
  {% assign collection__name = collections[section.settings.collection__carrousel].products %}

  {% capture collection__name %}
  {% for item in collection__name %}
    {{ item.type }},
  {% endfor %}
  {% endcapture %}

  {% comment %}
    <div class="flex justify-center items-center mt-12">
      {% assign collection__no-repeat = collection__name | split: ',' | uniq %}
      {% for item in collection__no-repeat %}
        <button
          class="text-lg border-b-2 border-gray-300 bg-white text-black rounded-none capitalize hover:bg-white"
          onclick="openCity({{ item }})"
        >
          {{ item }}
        </button>
      {% endfor %}
    </div>
  {% endcomment %}

  <div class="w-full flex justify-center items-center">
    <button
      class="text-xl border-b-2 border-gray-300 bg-white text-black rounded-none capitalize mx-7 px-2 hover"
      onclick="openCity('Handbags')"
    >
      Handbags
    </button>
    <button
      class="text-xl border-b-2 border-gray-300 bg-white text-black rounded-none capitalize mx-7 px-2"
      onclick="openCity('Mini-Handbags')"
    >
      Mini-Handbags
    </button>
    <button
      class="text-xl border-b-2 border-gray-300 bg-white text-black rounded-none capitalize mx-7 px-2"
      onclick="openCity('Swimwear')"
    >
      Swimwear
    </button>
    {% comment %} <button class="text-lg" onclick="openCity('Resort')">Resort</button> {% endcomment %}
  </div>

  <div id="Handbags">
    <div class="swiper mySwiper h-24">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide w-full h-full bg-red-100 text-red-600">
          {% render 'product-block',
            product: product,
            manual_image_load: section.settings.enable_carousel,
            custom_aspect_ratio: chosen_aspect_ratio,
            no_swiping: section.settings.enable_carousel,
            no_quick_buy_markup: section.settings.enable_carousel
          %}
        </div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
        <div class="swiper-slide">Slide 4</div>
        <div class="swiper-slide">Slide 5</div>
        <div class="swiper-slide">Slide 7</div>
        {% comment %} ... {% endcomment %}
      </div>
      <!-- If we need navigation buttons -->
      {% comment %}
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-pagination"></div>
      {% endcomment %}
    </div>
  </div>

  <div id="Mini-Handbags" class="w3-container city" style="display:none">
    <h2>Mini Handbags</h2>
    <p>Paris is the capital of France.</p>
  </div>

  <div id="Swimwear" class="w3-container city" style="display:none">
    <h2>Swimwear</h2>
    <p>Tokyo is the capital of Japan.</p>
  </div>
</div>

<script>
  function openCity(cityName) {
    var i;
    var x = document.getElementsByClassName('city');
    for (i = 0; i < x.length; i++) {
      x[i].style.display = 'none';
    }
    document.getElementById(cityName).style.display = 'block';
  }

  var swiper = new Swiper('.mySwiper', {
    slidesPerView: 5,
    spaceBetween: 30,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
</script>

{% schema %}
{
  "name": "Category Carrousel",
  "settings": [
    {
      "type": "collection",
      "id": "collection__carrousel",
      "label": "Select a colletion"
    }
  ]
}
{% endschema %}

{% style %}
  .swiper {
    width: 100%;
    height: 100%;
  }
{% endstyle %}
