<div class="container mx-auto grid grid-cols-1 gap-2 md:grid-cols-2 pt-10 md:pt-20 pb-12 md:pb-16 px-4 md:px-0">
  {% for block in section.blocks %}
    <div class="w-full bg-white text-black">
      <div class="relative w-full md:h-full">
        <img
          class="object-cover object-top h-[440px] md:h-[515px] w-full"
          src="{{ block.settings.image | img_url: 'master' }}"
        >
        <div class="absolute top-20 bottom-0 left-0 right-0 flex flex-col justify-center items-center">
          <p class="text-[30px] text-white font-thin m-0">{{ block.settings.name }}</p>
          <a href="{{ block.settings.link }}" class="bg-[#F4F1EA] px-5 py-3 hover:bg-gray-100 text-[10px] md:mt-2"
            >Ver categoria</a
          >
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Categories gallery",
  "blocks": [
    {
      "type": "item",
      "name": "Category",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Name"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ]
}
{% endschema %}
