<div class="container mx-auto py-10">
  {% comment %} GET COLLECTION {% endcomment %}
  {% assign collection__name = collections[section.settings.collection__carrousel].products %}

  {% capture collection__name %}
  {% for item in collection__name %}
    {{ item.metafields.custom.collection }},
  {% endfor %}
  {% endcapture %}

  <div class="flex justify-center items-center mt-0 mb-10 [&>*:last-child]:hidden">
    {% assign collection__no-repeat = collection__name | split: ',' | uniq %}
    {% for item in collection__no-repeat %}
      <button
        class="text-lg border-b-2 mx-7 border-gray-300 bg-white text-black rounded-none capitalize hover:bg-white"
        onclick="openCity({{ item }})"
      >
        {{ item }}
      </button>
    {% endfor %}
  </div>

  <div class="w-full flex justify-center items-center">
    <div class="w-1/3">
      <div class="swiper categories-paoti">
        <div class="swiper-wrapper">
          {% for item in collections[section.settings.collection__carrousel].products %}
            <div class="swiper-slide">
              {% render 'paoti-card', product: item %}
            </div>
          {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>

  <div id="Mini-Handbags" class="w3-container city" style="display:none">
    <h2>Mini Handbags</h2>
    <p>Paris is the capital of France.</p>
  </div>

  <div id="Swimwear" class="w3-container city" style="display:none">
    <h2>Swimwear</h2>
    <p>Tokyo is the capital of Japan.</p>
  </div>
</div>

<script>
  function openCity(cityName) {
    var i;
    var x = document.getElementsByClassName('city');
    for (i = 0; i < x.length; i++) {
      x[i].style.display = 'none';
    }
    document.getElementById(cityName).style.display = 'block';
  }

  var swiper = new Swiper('.categories-paoti', {
    effect: 'coverflow',
    spaceBetween: 40,
    coverflowEffect: {
      rotate: 0,
      stretch: 10,
      depth: 0,
      modifier: 1,
      slideShadows: true,
    },
    pagination: {
      el: '.swiper-pagination',
    },
  });
</script>

{% comment %}
  grabCursor: true,
  centeredSlides: true,
  slidesPerView: 'auto',
  coverflowEffect: {
    rotate: 50,
    stretch: 0,
    depth: 70,
    modifier: 1,
  },
{% endcomment %}

{% schema %}
{
  "name": "Category Carrousel",
  "settings": [
    {
      "type": "collection",
      "id": "collection__carrousel",
      "label": "Select a colletion"
    }
  ]
}
{% endschema %}

{% style %}
  .swiper {
    width: 100%;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    height: auto;
    width: 100%;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }
{% endstyle %}
