/* estilos perzonalizados */

* {
  text-decoration-color: #000 !important;
}

button:hover {
  background: transparent !important;
  border-bottom: rgb(27, 27, 27) 2px solid !important;
}

.product-title {
  margin-bottom: 5px;
}

.product-block__price a:nth-child(2) {
  border: solid 1px green;
}