/* estilos perzonalizados */

* {
  text-decoration-color: #000 !important;
  font-family: 'Cormorant', serif;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Cormorant', serif !important;
}

button:hover {
  background: transparent !important;
  border-bottom: rgb(27, 27, 27) 2px solid !important;
}

.product-title {
  margin-bottom: 5px;
}

.product-block__price a:nth-child(2) {
  border: solid 1px green;
}

.swiper-button-prev , .swiper-button-next {
  color: #000 !important;
  font-size: 20px;
} 

.swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: 30px;
}

.swiper-wrapper__luxury-products {
  height: fit-content !important;
}

.section-footer__payment-icons {
  display: flex;
  flex-wrap: wrap;
}

.luxury__title p {
  margin: 0;
}

.looks-card p {
  margin-bottom: 0.5rem;
  font-size: 12px;
}

.shop-now {
  border-radius: 3px;
  font-size: 12px;
}

._teaserHeading_ou4pe_29 {
  font-family: 'Roboto', sans-serif !important;
}


@media screen and (max-width: 700px) {
  .looks__desktop {
    display: none;
  }

  .overlay-text__rte p {
    font-size: 50px !important;
    line-height: 4rem !important;
  }
}

.paoti-card__title {
  font-size: 17px !important;
  font-weight: 500 !important;
}

.paoti-card__price {
  font-size: 13px !important;
  color: #7A7A7A !important;
  margin: 0;
}

.cart-logo {
  width: 20px !important;
  height: 20px !important;
  object-fit: none !important;
}

.swiper-pagination-looks {
  bottom: 20px !important;
}

.signup-form__email {
  border-radius: 0 !important;
  margin-bottom: 1rem !important;
}

@media (min-width: 1280px){
.container {
    max-width: 1350px !important;
}
}

.swiper-button-prev.swiper-button-disabled {
  display: none;
}

.swiper-button-next:after, .swiper-button-prev::after {
  font-size: 30px !important;
  font-weight: 600  !important;
}

